<ion-header>
    <ion-toolbar class="home-h-bg">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">
            Attendees
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="list" class="ios list-ios hydrated">
            <ion-list-header class="ios hydrated">
              Attending to event
            </ion-list-header>
            <ion-item *ngFor = "let o of list" class="item-label item ios in-list ion-focusable hydrated">
              <ion-avatar slot="start" class="ios hydrated">
                <img [src]="blankImage(o.picture)">
              </ion-avatar>
              <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                <h2>{{blankName(o)}}</h2>
                <!-- <h3>Look, kid...</h3>
                <p>I've got enough on my plate as it is, and I...</p> -->
              </ion-label>
            </ion-item>
          </ion-list>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
</ion-content>