.home-h-bg{
  --background: var(--ion-toolbar-background,#db0857);
}
ion-item{
  --background: var(--ion-content);
}

.sc-ion-card-ios-h{
  margin: 10px 20px;
}

ion-content{
  overflow: hidden;
  max-width: 100%;
--background: rgba(218,10,90,1);
--background: -moz-linear-gradient(top, rgba(218,10,90,1) 0%, rgba(109,47,148,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
--background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,10,90,1)), color-stop(39%, rgba(109,47,148,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
--background: -webkit-linear-gradient(top, rgba(218,10,90,1) 0%, rgba(109,47,148,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
--background: -o-linear-gradient(top, rgba(218,10,90,1) 0%, rgba(109,47,148,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
--background: -ms-linear-gradient(top, rgba(218,10,90,1) 0%, rgba(109,47,148,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
--background: linear-gradient(to bottom, rgba(218,10,90,1) 0%, rgba(109,47,148,1) 150px, rgba(255,255,255,1) 138px, rgba(255,255,255,1) 100%);
--filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da0a5a', endColorstr='#ffffff', GradientType=0 );
}
.ca-name{
  font-size: 30px;
  font-weight: lighter;
  color: white;
}
.months-list{
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  text-align: center;
}
.months-name{
  min-width: 25%;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 13px;
}
.nb{
  max-width: 8px;
}
.custom-grid{
  --ion-grid-padding:0px;
  --color-checked:#fff!important;
}
.custom-col{
  --ion-grid-column-padding:0px;
}
.col-days, *{
  --padding-start:0px!important;
  --padding-end:0px!important;
}
.days-list{
    width: 100%;
    overflow: hidden;
    height: auto;
    line-height: 2;
    text-align: center;
    display: flex;
}
.day-name{
  word-wrap: break-word;
  font-size: 12px;
  color: white;
  margin: 0px 2px;
  padding: 3px 12px 12px;
  line-height: 0.4;
  .day-no{
    font-size: 20px;
    font-weight: lighter;
  }
}
.active-day{
    border-radius: 5px;
    background-color: white;
    color: blueviolet;
}

.list-body{
  max-height: 82%;
  min-width: 100%;
  overflow: auto;
  margin-top: 0px;
  position: fixed;
}
.card-time{
  color: gray;
  font-size: 18px;
}
.card-time-ago{
  text-align: center;
  background-color: blueviolet;
  width: 65px;
  padding: 4px;
  color: white;
  border-radius: 2px;
  font-size: 10px;
  margin-top: 5px;
}
.card-date{
  padding: 2px 8px;
  font-weight: bold;
  color: white;
  border-radius: 2px;
}
.card-adg-name{
  font-size: 22px;
  color: #da0a5b;
}
.f-icon{
  color: white;
  font-size: 24px;
}
.f-arrow-icon{
  color: white;
  font-size: 32px;
}
  ion-content {
    background: #f7f7f7;
  }
   
  .agend-item {
    background: #ffffff;
    color: #121212;
  
    ion-card-content {
      padding: 6px;
    }
  
    .date, .location {
      font-weight: 600;
  
    }
    .details {
      margin-bottom: 8px;
      line-height: 1.15;
    }
  
    .invitees {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        display: inline-block;
        vertical-align: middle;
  
        img {
          object-fit: cover;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-right: 5px;
        }
      }
  
      li:last-child {
        text-align: center;
        font-weight: 600;
        width: 40px;
      }
    }
  }