<ion-header>
  <ion-toolbar class="home-h-bg">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar color="light" class="search-input" (click)="goSearch()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <i class="fa fa-id-card f-icon" aria-hidden="true"></i>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" text-wrap>
    <ion-fab style="margin-left: 10px;">
      <span class="ca-name">Calendar</span>
    </ion-fab>
    <ion-fab horizontal="end">
      <ion-icon color="light" ios="ios-refresh" md="md-refresh" size="large" ></ion-icon> &nbsp;&nbsp;
      <ion-icon (click)="addNewAdgenda()" color="light" size="large" name="add-circle-outline"></ion-icon>
    </ion-fab>
  </ion-item>

  <!-- <ion-item lines="none">
    <i slot="start" class="fa fa-angle-left f-arrow-icon" aria-hidden="true"></i>
    <div class="months-list">
      <ion-text *ngFor="let o of monthsList let i = index" class="months-name" (click)="setActiveWeek(i)" color="none"
        [ngClass]="activeWeek(i)">{{o.short}}</ion-text>
    </div>
    <i slot="end" class="fa fa-angle-right f-arrow-icon" aria-hidden="true"></i>
  </ion-item> -->

  <ion-grid fixed class="custom-grid">
    <ion-row>
      <ion-col size="12" class="custom-col">
        <ion-segment scrollable (ionChange)="myMonth($event.detail.value)">
          <ion-segment-button *ngFor="let ms of MonthsName" [value]="ms">
            <ion-label color="light">{{ms.name}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid fixed class="custom-grid">
    <ion-row>
      <ion-col size="12" class="custom-col col-days">
        <ion-segment scrollable (ionChange)="myDay($event.detail.value)">
          <ion-segment-button *ngFor="let ds of mList" [value]="ds">
            <ion-label color="light">{{ds}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="list-body">
    <ion-card class="bg-primary" *ngFor="let o of adgList" class="agend-item" (click)="viewAdgenda(o.id)">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-text class="card-time">
                {{o.start_time}}
              </ion-text>
              <ion-text>
                <p class="date">{{o.start_date | date:'d MMM y'}}</p>
                <!-- <p class="card-time-ago">{{o.start_date | date:'h:mm'}}&nbsp;mins</p> -->
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="card-adg-name">
                {{o.title | titlecase}}
              </ion-text>
              <p class="location">{{o.address}}</p>
              <p class="details">{{o.notes}}.</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <span *ngFor = "let o of getJoiedUser(o)">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
            </span> -->
            <!-- SELECT * , (SELECT users.picture FROM users WHERE users.id = agendas.id) AS "joined_user" FROM `agendas` -->
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
    <!-- <ion-calendar></ion-calendar> -->
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>