.login-h-bg{
    --background: var(--background);
}
.login-bg{
--background: rgba(109,47,148,1);
--background: -moz-linear-gradient(-45deg, rgba(109,47,148,1) 0%, rgba(218,10,90,1) 96%, rgba(218,10,90,1) 100%);
--background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(109,47,148,1)), color-stop(96%, rgba(218,10,90,1)), color-stop(100%, rgba(218,10,90,1)));
--background: -webkit-linear-gradient(-45deg, rgba(109,47,148,1) 0%, rgba(218,10,90,1) 96%, rgba(218,10,90,1) 100%);
--background: -o-linear-gradient(-45deg, rgba(109,47,148,1) 0%, rgba(218,10,90,1) 96%, rgba(218,10,90,1) 100%);
--background: -ms-linear-gradient(-45deg, rgba(109,47,148,1) 0%, rgba(218,10,90,1) 96%, rgba(218,10,90,1) 100%);
--background: linear-gradient(135deg, rgba(109,47,148,1) 0%, rgba(218,10,90,1) 96%, rgba(218,10,90,1) 100%);
--filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d2f94', endColorstr='#da0a5a', GradientType=1 );   
}

.logo-card{
    width: 100%;
    text-align: center;
}
.logo{
    width: 130px;
    height: 130px;
}
.login-form input[type='text'], input[type='password']{
    width: 100%;
    margin: 5px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 2px 12px;
    color: #663399;
    margin-bottom: 18px;
}
.login-form input[type='text'], input[type='password']:focus{
    outline: none;
}
.google-btn{
    margin-top: 32px;
}
.login-name{
    font-size: 23px;
    color: white;
}