<ion-content class="login-bg">
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Set Password</ion-title>
  </ion-toolbar>
  <br>

  <div padding>
    <form [formGroup] = "fgroup" #frm = "ngForm">
      <ion-item>
        <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="conf_password" placeholder="Confirm Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click) = "save()" expand="full" color="primary">Submit</ion-button>
    </form>
  </div>
</ion-content>