<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image-container">
      <img class="img" src="assets/bg/bg.jpg">
    </div>
    <ion-card-content>
      <div class="titles">
        <ion-card-title class="title">Amanda Curlings</ion-card-title>
        <!-- <ion-card-subtitle>Subtitle </ion-card-subtitle> -->
      </div>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="sub-titles">
        <ion-card-subtitle class="title">Organization</ion-card-subtitle>
      </div>
      <p>Global Design Agency</p>
      <div class="sub-titles">
          <ion-card-subtitle class="title">Education</ion-card-subtitle>
        </div>
        <p>
            Master in Business Administration @ University of Malaysia
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <div class="sub-titles">
          <ion-card-subtitle class="title">Contacts</ion-card-subtitle>
        </div>

        <ion-grid>
            <ion-row>
              <ion-col size="4">
                Handphone
              </ion-col>
              <ion-col size="8">
                +60 12-343 2345
              </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
              <ion-col size="4">
                Email Address
              </ion-col>
              <ion-col size="8">
                amandacurlings@gmail.com
              </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
              <ion-col size="4">
                Address
              </ion-col>
              <ion-col size="8">
                123 High-teach Park, Center Park Maryland , USA
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>