ion-icon{
  zoom: 1.2;
  &.facebook{
    margin-right: 10px;
    color: #2f00af;
  }&.mail{
    margin-right: 10px;
    color: #cf4302;
  }&.whatsapp{
    margin-right: 10px;
    color: #65e000;
  }&.share-icon{
    zoom: 1;
    color: #7040f3;
  }
}