<ion-content class="slider-bg">
  <ion-slides padding pager class="slides">
    <ion-slide>
      <ion-card-content>
        <div class="logo-card">
          <ion-icon color = 'light' class="logo" name="planet"></ion-icon>
          <br>
          <div class="app-name">IEN GLOBAL </div>
        </div>
      </ion-card-content>
      <div>
        <ion-card-content>
          Never run out of your favorite coffess, teas and powders again with our autho delivery subscription. select how offen your products arrive.
        </ion-card-content>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-card-content>
        <div class="logo-card">
          <ion-icon color = 'light' class="logo" name="planet"></ion-icon>
          <br>
          <div class="app-name">IEN GLOBAL </div>
        </div>
      </ion-card-content>
      <div>
        <ion-card-content>
          Never run out of your favorite coffess, teas and powders again with our autho delivery subscription. select how offen your products arrive.
        </ion-card-content>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-card-content>
        <div class="logo-card">
          <ion-icon color = 'light' class="logo" name="planet"></ion-icon>
          <br>
          <div class="app-name">IEN GLOBAL </div>
        </div>
      </ion-card-content>
      <div>
        <ion-card-content>
          Never run out of your favorite coffess, teas and powders again with our autho delivery subscription. select how offen your products arrive.
        </ion-card-content>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-card-content>
        <div class="logo-card">
          <ion-icon color = 'light' class="logo" name="planet"></ion-icon>
          <br>
          <div class="app-name">IEN GLOBAL </div>
        </div>
      </ion-card-content>
      <div>
        <ion-card-content>
          Never run out of your favorite coffess, teas and powders again with our autho delivery subscription. select how offen your products arrive.
        </ion-card-content>
      </div>
    </ion-slide>
  </ion-slides>
  <div padding>
    <ion-card-content>
      <ion-button size="default" expand="full" shape="round" color="tertiary" (click)="login()">SIGN IN</ion-button>

      <ion-button class="sign-up-btn" size="default" expand="full" shape="round" color="light" (click)="signUp()">CREATE
        ACCOUNT</ion-button>
    </ion-card-content>
  </div>
</ion-content>